.icon-button {
    display: flex;
    align-items: center;
    background-color: #10B981; /* Button color */
    color: #FFFFFF; /* Text color */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.icon-button:hover {
    background-color: #0e9a6a; /* Darker shade on hover */
}

.icon-button .icon {
    margin-right: 8px; /* Space between icon and text */
}