.list-item {
  background-color: white;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  padding: 16px;
  margin: 16px; 
  
  height: 110px; 
  width: 770px;

  display: flex;
  flex-direction: column;
}

.item-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-info {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start; /* Align items to the start (left) */
  align-items: flex-start; /* Align items to the left */
  margin-left: 2%;
}

.item-description {
  color: #555;
}