.list-component {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

.items {
  width: 100%; /* Full width for items */
  flex-direction: column;
  align-items: center;
}

.pagination {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center pagination horizontally */
  margin-top: 20px; /* Space above pagination */
}
